<!-- blog/templates/blog/post_detail.html -->

{% extends 'base_generic.html' %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
<div class="tags">
    {% for tag in post.tags.all %}
        <a href="{% url 'tag-detail' tag.name %}">{{ tag.name }}</a>
    {% endfor %}
</div>
  <hr>
  <h2>Comments</h2>
  <ul>
    {% for comment in comments %}
      <li>
        <p>{{ comment.content }}</p>
        <p>Posted by {{ comment.author.username }} on {{ comment.created_at }}</p>
        {% if comment.author == user %}
          <a href="{% url 'comment-update' pk=comment.pk %}">Edit</a>
          <a href="{% url 'comment-delete' pk=comment.pk %}">Delete</a>
        {% endif %}
      </li>
    {% empty %}
      <p>No comments yet.</p>
    {% endfor %}
  </ul>

  {% if user.is_authenticated %}
    <h3>Add a comment</h3>
    <form method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Add comment</button>
    </form>
  {% endif %}
{% endblock %}
